.howItWork {
  width: 100%;

  .wrapper {
    padding: 30px 0 100px 0;

    h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 120px;
      text-align: center;
      letter-spacing: 1px;
      color: var(--white);
    }

    .step {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }

      li {
        position: relative;
        margin-right: 40px;
        display: flex;
        flex-direction: column;

        &:last-of-type {
          margin-right: 0;
        }

        &:first-of-type {
          &::before {
            content: "";
            background: url("/images/icon-circle-1.svg") no-repeat;
            width: 75px;
            height: 75px;
            flex-shrink: 0;
            margin-bottom: 12px;
          }

          &::after {
            content: "";
            width: 182px;
            height: 1;
            position: absolute;
            top: 35px;
            left: 95px;
            z-index: 1;
            // border: 1px dashed var(--white);
            // transform: skewY(-10deg);
            background: url("/images/up-step.svg") no-repeat;
            width: 200px;
            height: 75px;

            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }

        &:nth-child(2) {
          &::before {
            content: "";
            background: url("/images/icon-circle-2.svg") no-repeat;
            width: 75px;
            height: 75px;
            flex-shrink: 0;
            margin-bottom: 12px;
          }

          &::after {
            content: "";
            width: 182px;
            height: 1;
            position: absolute;
            top: 5px;
            left: 95px;
            z-index: 1;
            background: url("/images/down-step.svg") no-repeat;
            width: 200px;
            height: 75px;

            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }

        &:nth-child(3) {
          &::before {
            content: "";
            background: url("/images/icon-circle-3.svg") no-repeat;
            width: 75px;
            height: 75px;
            flex-shrink: 0;
            margin-bottom: 12px;
          }

          &::after {
            content: "";
            width: 182px;
            height: 1;
            position: absolute;
            top: 35px;
            left: 95px;
            z-index: 1;
            // border: 1px dashed var(--white);
            // transform: skewY(-10deg);
            background: url("/images/up-step.svg") no-repeat;
            width: 200px;
            height: 75px;

            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }

        &:last-of-type {
          &::before {
            content: "";
            background: url("/images/icon-circle-4.svg") no-repeat;
            width: 75px;
            height: 75px;
            flex-shrink: 0;
            margin-bottom: 12px;
          }

          &::after {
            display: none;
          }
        }

        > div {
          h5 {
            color: var(--white);
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 10px;
            text-align: left;
          }
          p {
            color: #e2e2e2;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
