.footer {
  width: 100%;
  // background: var(--black);
  padding: 100px 0px 100px;
  // position: relative;
  // margin-top: 100px;

  @media (max-width: 903px) {
    padding: 80px 16px;
  }

  .wrapper {
    width: 85%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 2fr 1fr 1fr 1fr;

    gap: 0px 50px;
    margin-top: 16px;

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1200px) {
      // grid-template-columns: repeat(4, auto);
      grid-template-columns: 2fr 1fr 1fr 1fr;
      // justify-content: center;
    }

    @media (max-width: 903px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .first {
        order: 4;
        margin-top: 64px;
      }

      .second {
        order: 1;
      }

      .third {
        order: 2;
        margin-top: 64px;
      }

      .last {
        order: 3;
        margin-top: 64px;
      }
    }

    .first {
      @media (max-width: 903px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .logo {
        width: fit-content;
        height: fit-content;
        margin-bottom: 16px;

        svg {
          width: 100%;
        }
      }

      // .socials {
      //   width: 100%;
      //   display: flex;
      //   align-items: center;

      //   @media (max-width: 903px) {
      //     justify-content: center;
      //   }

      //   a {
      //     color: var(--white);
      //     margin-right: 10px;
      //     font-size: 16px;

      //     &:last-of-type {
      //       margin-right: 0px;
      //     }
      //   }
      // }

      .copyright {
        width: 100%;
        font-size: 14px;
        color: #bababa;
        margin-top: 49px;
      }

      .extraLinks {
        margin-top: 142px;
        display: flex;

        @media (max-width: 903px) {
          margin-top: 64px;
        }

        @media (max-width: 400px) {
          flex-direction: column;
          align-items: center;
        }

        > div {
          padding: 0px 10px;
          border-right: 1px solid #bababa;

          @media (max-width: 400px) {
            border: 0;
            padding: 0;
            margin-bottom: 16px;

            &:last-of-type {
              margin-bottom: 0px;
            }
          }

          &:first-of-type {
            padding-left: 0px;
          }

          &:last-of-type {
            padding-right: 0px;
            border: 0;
          }

          a {
            color: #bababa;
          }
        }
      }
    }

    .second,
    .third {
      h3 {
        color: var(--white);
        margin-bottom: 16px;
        font-family: Inter-Bold;
      }

      ul {
        display: flex;
        flex-direction: column;

        @media (max-width: 903px) {
          align-items: center;
        }

        li {
          width: fit-content;
          margin-bottom: 16px;

          &:last-of-type {
            margin-bottom: 0px;
          }

          a {
            color: var(--white);
            font-size: 16px;
          }
        }
      }
    }

    .last {
      @media (max-width: 903px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .socials {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (max-width: 903px) {
          justify-content: center;
        }

        a {
          color: var(--white);
          margin-right: 10px;
          font-size: 16px;

          &:last-of-type {
            margin-right: 0px;
          }
        }
      }

      h3 {
        color: var(--white);
        margin-bottom: 16px;
        font-family: Inter-Bold;
      }

      p {
        color: #bababa;
        max-width: 300px;
        font-size: 14px;
        margin-bottom: 21px;
      }
    }
  }
}
