.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 308px;

  @media (max-width: 1264px) {
    position: fixed;
    top: 70px;
    left: -100vw;
    z-index: 250;
    transition: left 0.4s ease-in-out;
    background: var(--black);
    // background: var(--white);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 300px;

    &.show {
      left: 0;
    }

    &.hidden {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      width: var(--full);
      height: auto;
    }

    > li {
      margin-right: 56px;
      width: fit-content;
      height: fit-content;

      &:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 1264px) {
        margin-bottom: 40px;
        width: var(--full);
        margin-right: 0px;
      }

      > a {
        font-size: 15px;
        color: var(--white);
        font-family: Proxima-Medium !important;

        @media (max-width: 1264px) {
          // color: var(--black);
          color: var(--white);

          font-size: 15px;
          // font-family: Proxima-Regular !important;
        }

        &.boldText {
          font-family: Proxima-Medium;
        }

        &.darkText {
          // color: var(--new-blue);
          color: var(--white);
        }
        > i {
          font-size: 10px;
        }

        &:hover {
          // color: var(--orange);
          color: #004ef0;
          font-family: Proxima-Medium;
          font-size: 15px;
        }
      }
    }
  }

  .navEnd {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      height: auto;
    }
    .login {
      margin-right: 20px;

      @media (max-width: 1264px) {
        margin-bottom: 40px;
        width: var(--full);
        margin-right: 0px;
      }
    }
    .contactLink {
      width: fit-content;
      flex-shrink: 0;

      > a {
        font-family: Proxima-Medium;
        width: 165px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        // border: 1px solid #f7f7f7 !important;
      }
    }

    // .searchBtn {
    //   margin: 0 39px;

    //   @media (max-width: 1264px) {
    //     margin: 40px 0px;
    //   }

    //   > button {
    //     width: fit-content;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 0;
    //     background: transparent;
    //     font-size: 15px;
    //     color: var(--white);

    //     @media (max-width: 1264px) {
    //       color: var(--white) !important;
    //     }

    //     &.darkText {
    //       color: var(--new-blue);
    //     }

    //     &:hover {
    //       color: var(--white);
    //     }
    //   }
    // }
  }
}
