.hero {
  width: 100%;
  padding: 68px 0px;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 1200px) {
    height: auto;
    padding: 200px 0px 0px;
  }

  @media screen and (max-width: 600px) {
    height: auto;
    padding: 130px 0px 0px;
  }

  .lottieBg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .wrapper {
    position: relative;
    height: 100%;

    .container {
      display: flex;
      position: relative;
      width: 97.5vw;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        width: 100vw;
        transform: translateX(-50%);
        left: 50%;
        right: 50%;
      }

      .left {
        width: 65%;
        padding-top: 100px;
        color: white;
        position: relative;

        .handCurve {
          position: absolute;
          right: 15px;
          bottom: 190px;

          @media screen and (max-width: 1200px) {
            position: absolute;
            right: 20px;
            bottom: 190px;
          }

          @media screen and (max-width: 900px) {
            display: none;
          }

          @media screen and (max-width: 700px) {
            display: none;
          }
        }

        .subscribe {
          width: 690px;

          @media screen and (max-width: 900px) {
            width: 490px;
          }

          @media screen and (max-width: 600px) {
            width: 290px;
          }

          form {
            display: flex;
            align-items: center;
            background-color: var(--white);
            padding: 10px;
            border-radius: 4px;

            .formGroup {
              width: 100%;

              input {
                border-radius: 0px;
                border: 1px solid var(--white);
                color: rgba(25, 36, 69, 0.7);

                &:focus {
                  border: 1px solid #fe976c;
                  border-radius: 4px;
                }
              }
            }
            .submitBtn {
              margin-left: 5px;
            }
          }
        }

        .countDown {
          display: flex;
          margin-left: 50px;

          @media screen and (max-width: 1200px) {
            margin-left: 0px;
          }

          @media screen and (max-width: 900px) {
            margin-left: 0px;
          }

          @media screen and (max-width: 700px) {
            margin-left: 0px;
          }

          > div {
            padding: 30px;
            text-align: center;
            height: 120px;
            width: 150px;

            @media screen and (max-width: 1200px) {
              padding: 20px;
              text-align: center;
              height: 130px;
              width: 150px;
            }

            @media screen and (max-width: 900px) {
              padding: 20px;
              text-align: center;
              height: 130px;
              width: 150px;
            }

            @media screen and (max-width: 700px) {
              padding: 10px;
              text-align: center;
              height: 120px;
              width: 100px;
            }
          }
          h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            // line-height: 120px;

            @media screen and (max-width: 700px) {
              font-style: normal;
              font-weight: 600;
              font-size: 38px;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: #707070;
            // line-height: 120px;

            @media screen and (max-width: 900px) {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
            }

            @media screen and (max-width: 700px) {
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
            }
          }
        }

        h1 {
          font-size: 84px;
          font-style: normal;
          line-height: 100px;
          max-width: 600px;
          letter-spacing: 1px;
          font-weight: 700;

          @media screen and (max-width: 900px) {
            font-size: 64px;
            font-style: normal;
            line-height: 80px;
            font-weight: 700;
          }

          @media screen and (max-width: 700px) {
            font-size: 38px;
            font-style: normal;
            line-height: 56px;
            font-weight: 700;
          }

          span {
            color: #fe976c;
          }
        }

        p {
          max-width: 500px;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #c2c2c2;
          letter-spacing: 1px;
          margin: 20px 0 40px 0;
        }

        @media screen and (max-width: 1200px) {
          padding-bottom: 0px;
          padding-top: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
          // margin-bottom: 72px;
        }
      }

      .right {
        // background-color: blue;
        // flex: 1;
        max-width: 485px;
        height: 100%;
        padding-top: 158px;
        // padding-bottom: 198px;

        @media screen and (max-width: 1200px) {
          width: 100%;
          max-height: 500px;
          max-width: 100%;
          padding-top: 8px;
        }

        .carousel {
          height: 100%;
          width: 100%;

          .card {
            background: #171717;
            height: 424px;

            @media screen and (max-width: 1200px) {
              height: 404px;
            }
    

            .imgDiv {
              width: 100%;
              height: 330px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .cardFooter {
              h5 {
                color: var(--white);
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 32px;
                align-items: center;
                letter-spacing: 0.3px;
                margin-top: 10px;
                margin-left: 20px;
              }

              h6 {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: #ffb20a;
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}
