:root {
  --primary: rgb(255, 145, 0);
  --m-back: linear-gradient(180deg, #ff7d5f 0%, #fe976c 55.21%, #fea875 100%);
  --bg-main: #050505;
  --heading: #484646;
  --black: #040404;
  --white: #fff;
  --wrapper-max-width: 1980px;
  --wrapper-min-width: 240px;
  --full: 100%;
}
