.countDown {
  display: flex;
  margin-left: 30px;

  @media screen and (max-width: 1200px) {
    margin-left: 0px;
  }

  @media screen and (max-width: 900px) {
    margin-left: 0px;
  }

  @media screen and (max-width: 700px) {
    margin-left: 0px;
  }

  > div {
    padding: 30px;
    text-align: center;
    height: 120px;
    width: 150px;

    @media screen and (max-width: 1200px) {
      padding: 20px;
      text-align: center;
      height: 130px;
      width: 150px;
    }

    @media screen and (max-width: 900px) {
      padding: 20px;
      text-align: center;
      height: 130px;
      width: 150px;
    }

    @media screen and (max-width: 700px) {
      padding: 10px;
      text-align: center;
      height: 120px;
      width: 100px;
    }
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: var(--white);
    // line-height: 120px;

    @media screen and (max-width: 700px) {
      font-style: normal;
      font-weight: 600;
      color: var(--white);
      font-size: 38px;
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #707070;
    // line-height: 120px;

    @media screen and (max-width: 900px) {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
    }

    @media screen and (max-width: 700px) {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
